<div class="col-md-6 user-container">
  <h2 class="text-center">Edit Simbox</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="text-danger mb-3" *ngIf="editForm.invalid && this.submitted">
      Please complete the form
    </div>
    <div class="hidden">
      <label for="name">Id:</label>
      <input *ngIf="ready" type="text" name="id" class="form-control" id="id" readonly="true"
        value="{{this.simbox.id}}">
    </div>
    <div class="form-group">
      <label for="name">Simbox name:</label>
      <input *ngIf="ready" type="text" formControlName="name" placeholder="{{this.simbox.name}}" name="name" class="form-control"
        id="name">
    </div>
    <div class="hidden">
      <label for="name">Create date:</label>
      <input *ngIf="ready" type="text" name="create_date" class="form-control" id="create_date" readonly="true"
        value="{{this.simbox.create_date}}">
    </div>
    <div class="form-group">
      <label for="deleted">Deleted:</label><br>
      <input type="radio" formControlName="deleted" name="deleted" value="true"> Yes
      <input type="radio" formControlName="deleted" name="deleted" value="false"> No<br>
    </div>
    <div class="form-group">
      <label for="busy">Busy:</label><br>
      <input type="radio" formControlName="busy" name="busy" value="true"> Yes
      <input type="radio" formControlName="busy" name="busy" value="false"> No<br>
    </div>
    <button class="btn btn-success">Update</button>
  </form>
</div>