<!--<div class="wrapper default-theme" [ngClass]="getClass()">-->
  <!--<app-navbar></app-navbar>-->
  <!--<main>-->
    <!--<app-sidebar></app-sidebar>-->
    <!--<div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">-->
      <router-outlet></router-outlet>
      <!--<app-footer></app-footer>-->
    <!--</div>-->
  <!--</main>-->
<!--</div>-->
