<div class="wrapper default-theme" [ngClass]="getClass()">
<app-navbar></app-navbar>
<main>
  <app-sidebar></app-sidebar>
  <div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">
<div class =" content-div">
  <div class="row">
    <div class="a">
          <select id="mnolist" class="custom-select w-50 mt-2" (change)="selectmno()">
            <option *ngIf="selectedsimBox" selected disabled>{{selectedsimBox.name}}</option>
            <ng-container *ngFor="let MNO of MNOList">
              <option  (onclick)="uaconstruction()"*ngIf="!MNO.deleted"  value="{{MNO.id}}">
                {{MNO.name}}</option>
            </ng-container>
          </select>
         </div>
  </div>

  <video hidden id="remoteVideo"></video>
  <video hidden id="localVideo" muted="muted"></video>

  <div class="col-md-6 col-lg-8 mb-4">
          <form id="new-session-form" action="">
            
            
                <div class="container">
                    <div class="buttons">
                        <button id="logs-btn" type="button" class="btn btn-primary" (click)="submit_btn(1)">Logs</button>
                        <button id="webphone-btn" type="button" class="btn btn-primary" (click)="submit_btn(2)">Phone</button>
                        <button id="sms-btn" type="button" class="btn btn-primary" (click)="submit_btn(3)">SMS</button>
                      </div>
                    <div [ngSwitch]="but_value">
                    <ng-template ngSwitchCase="1">  
                            <p>Logs</p>
                            <table class="logtable table table-hover">
                                <tr>
                                  <th>ID</th>
                                  <th>Time</th>
                                  <th>Calling</th>
                                  <th>Called</th>
                                  <th>Text</th>
                                </tr>
                                <tr class="logs-element">
                                  <!--<ng-template>-->
                                      <td>1</td>
                                      <td>#</td>
                                      <td>#</td>
                                      <td>#</td>
                                      <td>#</td>
                                   <!--</ng-template>-->
                                </tr>
                              </table>
                    </ng-template>
                    <ng-template ngSwitchCase="3"> 
                        <p class="label">Send SMS to:</p> 
                        <input #dest type="text" class="destination" id="dest" value=""/>
                        <p class="label">Text:</p> 
                        <textarea #smstext  rows="12" cols="10" type="text" class="destination" id="smstext" value=""  ng-model="txt"></textarea>
                        <div id="send-btn">
                            <button id="clear-sms" type="button" class="btn btn-primary" (click)="clearMessageArea()">Clear</button>
                            <button id="send-sms" type="button" class="btn btn-primary">Send</button>
                        </div>
                    </ng-template> 
                      <ng-template ngSwitchDefault>  
                          <div class="container2">
                              <input #uri type="text" class="destination" id="ua-uri" value="" />
                    <div class="row">
                      <div class="digit w-25 p-3" id="one" (click)="phoneclick(1)">1</div>
                      <div class="digit w-25 p-3" id="two" (click)="phoneclick(2)">2
                        <div class="sub">ABC</div>
                      </div>
                      <div class="digit w-25 p-3" id="three" (click)="phoneclick(3)">3
                        <div class="sub">DEF</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="digit w-25 p-3" id="four" (click)="phoneclick(4)">4
                        <div class="sub">GHI</div>
                      </div>
                      <div class="digit w-25 p-3" id="five" (click)="phoneclick(5)">5
                        <div class="sub">JKL</div>
                      </div>
                      <div class="digit w-25 p-3" (click)="phoneclick(6)">6
                        <div class="sub">MNO</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="digit w-25 p-3" (click)="phoneclick(7)">7
                        <div class="sub">PQRS</div>
                      </div>
                      <div class="digit w-25 p-3" (click)="phoneclick(8)">8
                        <div class="sub">TUV</div>
                      </div>
                      <div class="digit w-25 p-3" (click)="phoneclick(9)">9
                        <div class="sub">WXYZ</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="digit w-25 p-3" (click)="phoneclick('.')">.
                      </div>
                      <div class="digit w-25 p-3" (click)="phoneclick(0)">0
                      </div>
                      <div class="digit w-25 p-3" (click)="phoneclick('@')">@
                      </div>
                    </div>
                    <div>
                      <i class=" x fa fa-times-circle phonebtn" aria-hidden="true" (click)="phoneclick('clean')"></i>
                      <div id="call" (click)="call()"><i class="fa fa-phone" id="ua-invite-submit"
                          aria-hidden="true"></i></div>
                      <i class="x fa fa-long-arrow-left dig phonebtn" aria-hidden="true" (click)="phoneclick('back')"></i>
                    </div>
                            </div> 
                        </ng-template> 
                        
                      </div>
                      
            </div>
            
          </form>
        <audio id="remoteAudio"></audio>
        <audio id="localAudio" autoplay muted="muted" loop></audio>
      </div>
      <div [ngSwitch]="but_value" id="incomingCall">
        <div id = "incomingCallSub">
          <ng-template ngSwitchCase="5"> 
          <h6 style="text-align: center;"><b>INCOMING CALL</b></h6>
          <div id="incomingNumber">
            <p style="text-align: center;"><b>From:&nbsp;</b>{{incomingNumber}}</p>
          </div>
          <div id="answerBtn">
            <button id="answer" type="button" class="btn btn-danger" >Answer</button>
            <button id="decline" type="button" class="btn btn-primary" >Decline</button>
          </div>
          </ng-template> 
          </div>
      </div>
</div>

     <app-footer></app-footer>
   </div>
  </main>
</div>
