#session-list {
    float: left;
    width: 45%;
    margin: 0 0 0 4%;
}
.session {
    clear: both;
    display: block;
    border: 1px solid red;
    border-radius: 1em;
    border: 4px solid #ea4b35;
    text-align: center;
}

.session h2 {
    font-weight: normal;
}

.session h2 strong {
    font-weight: bold;
}

.session .dtmf, .session .dtmf *{
    display: inline-block;
}

.session .dtmf input[type="text"] {
    width: 2em;
    min-width: 0em;
    text-align: center;
}

.session video {
    display: block;
    visibility: none;
    height: 0;
    max-width: 100%;
}

.session video.on {
    height: auto;
}

.session .messages {
    max-height: 10em;
    min-height: 2em;
    overflow: auto;
}

.session .messages .local {
    color: #5f7ee0;
    clear: left;
    float: right;
    width: 60%;
    text-align: right;
    margin-right: 10%;
}

.session .messages .remote, .session .messages .error {
    color: #00a53b;
    clear: right;
    float: left;
    width: 60%;
    text-align: left;
    margin-left: 10%;
}

.session .messages .error {
    color: #ea4b35;
}


#templates {
    display: none;
}


#target {
  width: 25em;
}

#hangup {
  background-color: red;
}

.call-control {
  height: 3em;
}

#dtmf-buttons button {
  display: inline-block;
  margin: 1em 0 0 0;
  height: 3.8em;
  width: 3.8em;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 1em;
}

input {
  border-radius: 2px;
  border: 0px;
  height: 3em;
}

input[type=submit] {
  background-color: #35f659;
  border: 0px;
}

input[type=checkbox] {
  height: auto;
}

#chat-box {
  position: relative;
  border-radius: 2px;
  border: 1px solid black;
  width: 50em;
  height: 40em;
}

#message-input {
  width: 100%;
  position: absolute;
  bottom: 1em;
  border-top: 1px solid black;
  padding-top: 1em;
}

#message, #message-submit {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 1px 1px 1px 1px;
}

#message {
  width: 80%;
  margin-left: 5em;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#message-submit {
  margin-left: -4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#log-container {
  height: 35em;
  overflow: scroll;
}

#remote-media {
  border-radius: 2px;
  border: 1px black solid;
}

/***************** phone ***************/
/*******************************************/
.row {
  margin: 0 auto;
}

.digit {
  float: left;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 10px;
}
.digit:hover{
  color: #56baed;
}

.sub {
  font-size: 0.8rem;
  color: grey;
}

.container {
  position: relative;
  background-color: white;
  width: 320px;
  height: 560px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#ua-uri, #dest {
  font-size: 2rem;
  height: 60px;
  width: 280px;
  font-weight: bold;
  color: #1976d2;
  text-align: center;
  background-color: #f2f3f8;
}

#send-btn {
  display: flex;
  justify-content: flex-end;
}

#send-sms {
  margin-left: 14px;
}
#dest {
  margin: 5px 0px 10px 0px;
}

#smstext {
  width: 280px;
  text-align:left;
  background-color: #f2f3f8;
  resize: none;
  padding: 5px 10px;
  border-style: none; 
  border-color: Transparent; 
  overflow: auto;   
  margin: 5px 0px 10px 0px;
 }

#call {
  display: inline-block;
  background-color: #56baed;
  padding: 4px 30px;
  margin: 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.digit:active {
  background-color: #e6e6e6;
}

#call:hover {
  background-color: #39ace7;
}
.phonebtn {
  padding: 4px 30px;
}

.pages {
    display: flex;
    flex-direction: column;
}

  .content-div {
      display: flex;
      flex-direction: column;
      align-items: center;
}


.a {
  width:500px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.x:hover {
    cursor: pointer;
    color: #56baed;
}

.buttons {
	display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.btn {
  width: 30%;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.label {
  text-align: left;
  margin: 0px;
}

#webphone-btn, #clear-sms, #decline {
	background-color: #1c719a;
	border-color: #1c719a;
}

#webphone-btn:hover, #clear-sms:hover, #decline:hover {
  background-color: #5d96b2;
  border-color: #5d96b2;

} 

#sms-btn, #logs-btn {
	background-color: #56bced;
	border-color: #56bced;
}

#sms-btn:hover, #logs-btn:hover {
	background-color: #80d0f6;
	border-color: #80d0f6;
}

#call, #send-sms {
  background-color: #ffb054 !important;
  border-color: #ffb054 ;

}

#call:hover, #send-sms:hover {
  background-color: #ffc47f !important;
  border-color: #ffc47f ;

}