<div class="col-md-4 user-container">
  <h2 class="text-center">Add Simbox</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="text-danger mb-3" *ngIf="addForm.invalid && this.submitted">
      Please complete the form
    </div>
    <div class="form-group">
      <label for="name">Simbox Name:</label>
      <input type="text" formControlName="name" placeholder="Simbox Name" name="name" class="form-control"id="name">
    </div>
    <div class="form-group">
      <label for="deleted">Deleted:</label><br>
      <input type="radio" formControlName="deleted" name="deleted" value="true"> Yes
      <input type="radio" formControlName="deleted" name="deleted" value="false"> No<br>
    </div>
    <div class="form-group">
      <label for="busy">Busy:</label><br>
      <input type="radio" formControlName="busy" name="busy" value="true"> Yes
      <input type="radio" formControlName="busy" name="busy" value="false"> No<br>
    </div>
    <button class="btn btn-success">Add</button>
  </form>
</div>