<aside class="sidebar shadow-sm">
  <nav class="sidebar-menu pt-3 pb-3">
    <div class="menu-header mt-3 mb-2">
      Simbox MENU
    </div>
    <ul class="menu-items">
      <li>
        <a routerLink="/simboxlist" routerLinkActive="active">
          <i class="s fa fa-list" aria-hidden="true"></i>
          <span>Simbox list</span>
        </a>
      </li>
      <li>
        <a routerLink="/webphone" routerLinkActive="active">
          <i class="s fa fa-phone-square" aria-hidden="true"></i>
          <span>WebPhone</span>
        </a>
      </li>
      <li *ngIf="this.authService.checktokeStatus()">
        <a routerLink="/settings" routerLinkActive="active">
          <i class="s fa fa-cogs" aria-hidden="true"></i>
          <span>Settings</span>
        </a>        
      </li>
    </ul>
  </nav>
</aside>