<div class="wrapper default-theme" [ngClass]="getClass()">
<app-navbar></app-navbar>
<main>
<app-sidebar></app-sidebar>

<div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">
<div class="col-md-7">
<div class="card-title mb-1 p-3">
      <h4 style="text-align: center;">Simbox list</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive-md">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Create date</th>
              <th>Update date</th>
              <th>Busy</th>
              <th>Deleted</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tr *ngFor="let simbox of simboxes">
            <td>{{simbox.id}}</td>
            <td>{{simbox.name}}</td>
            <td>{{simbox.create_date}}</td>
            <td *ngIf="simbox.update_date; else noupdatedate">{{simbox.update_date}}</td>
            <ng-template #noupdatedate>
              <td> Not yet updated </td>
            </ng-template>
            <td>{{simbox.busy}}</td>
            <td>{{simbox.deleted}}</td>
            <td>
              <button class="btn btn-success" (click)="editSimbox(simbox)"><i class="fa fa-pencil"
                  aria-hidden="true"></i></button>
              <button class="btn btn-success ml-3" (click)="deleteSimbox(simbox)"><i class="fa fa-trash"
                  aria-hidden="true"></i></button>
            </td>
          </tr>
          <tr>
            <button class="btn btn-danger" (click)="addSimbox()"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div></main>
</div>