<hr>
<div class="container-fluid">
  <div class="row pt-2">
    <div class="col-md-12 text-center mb-2">
      <small> © 2019 made with <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <span
          class="text-secondary font-weight-bold">Constantin, Dorin, Irina</span></small>
    </div>
  </div>
</div>