.content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pages {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.card-body {
    background-color: white;
}

