<div class="wrapper default-theme" [ngClass]="getClass()">
<app-navbar></app-navbar>
<main>
<app-sidebar></app-sidebar>

<div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">
<div class="col-md-7">
<div class="card-title mb-1 p-3">

  <h4 style="text-align: center;">Pick Simbox:</h4>
        <div class="card-body">
          <table class="table table-hover">
            <tr>
              <th>ID</th>
              <th>Name</th>
            </tr>
            <tr class="simbox-element" *ngFor="let simBox of simBoxes" (click)="onClick(simBox)">
              <ng-template [ngIf]="!simBox.deleted">
                  <td>{{simBox.id}}</td>
                  <td>{{simBox.name}}</td>
              </ng-template>
            </tr>
          </table>
        </div>
      </div>
    </div>
</div>
</main>
</div>

